html{
	font-family:"Helvetic", "Calibry", "Arial";
}
#tasklist{
	//display: none;
	color:grey;
}
#potolok{
	border-bottom: 2px solid grey;
	padding:16px;
	height:50px;
	color:white;
}
.topBtns{
	float: right;
}
.topBtn{
	display:inline-block;
	background: #00c0e7;
	border-radius:8px;
	width:120px;
	padding:7px;
	text-align:center;
}
.topBtn:hover{
	background: linear-gradient(#00c0e7, #0000e7) !important;
	cursor:pointer;
}
.content-header1{
	text-align: center;
	font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
.filterBlocks{
}
.filterBlock{
	width:23%;
	display:inline-block;
	padding:5px;
}
select{
	border-radius: 5px;
	width:100%;
}
#products{
	text-align:center;
}
.productCont{
	width:170px;
	height:270px;
	border-radius:10px;
	border:1px solid grey;
	display:inline-block;
	margin:0 15px 55px;
	box-sizing:border-box;
	font-size:12px;
}
.prod-info{
	padding:10px 16px;
}
.prod-info div{
	line-height:22px;
	text-align:left;
}
.prod-title{}
.prod-grade{}
.prod-genre{}
.prod-meta{}
.prod-btn a{
	background:#00c1ff;
	display:block;
	text-align:center;
	border-radius:8px;
	color:white;
	text-decoration:none;
	padding:1px 5px;
}

#podval{
	background: #3c3c3c;
	color:white;
	height:36px;
}
.podvalcell{
	display:inline-block;
	width:33%;
}